
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, Arial, Helvetica, sans-serif;
    color: #575757;
  }

  .banner{
      width: 100%;
      height: auto;
  }
  
  .app {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }
  
  h1 {
    font-size: 3em;
    font-weight: 700;
    color: #0098db;
    margin-bottom: 1em;
  }
  
  h3 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
    color: #0098db;
    margin-top: 2em;
  }

  p{
      font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 300;
  }
  
  .intro{}

  .rankings {
    width: 100%;
    display: flex;
  }
  
  .img{
      width: 100%;
  }

  .rank1{
      width: 33.3%;
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  .rank2{
    width: 33.3%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .rank3{
    width: 33.3%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .table{
      margin-top: 5rem;
  }

 .notice{}

  li {
    margin-top: 0.5em;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.5em;
  }
  
  a {
    color: #0098db;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    color: #2c2c2c;
    text-decoration: underline;
    opacity: 0.8;
  }
  a:active {
    color: #2c2c2c;
    text-decoration: underline;
  }
  a:visited {
    color: #0098db;
    text-decoration: underline;
  }
  .caption {
    font-size: 1.2em;
    font-weight: bold;
    color: #575757;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 10em;
  }

  .button {
    width: 35%;
    background-color: #0098db; /* Green */
    border: none;
    color: #fff;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.5em;
    font-size: 1.5em;
    box-shadow: -5px -5px 20px white, 5px 5px 20px #babecc;
  }
  
  .button:hover {
    box-shadow: -3px -3px 8px white, 3px 3px 8px #babecc;
    color: #fff;
  }
  
  .button:active {
    box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px white;
    color: #fff;
  }
  
  .button:after {
    box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px white;
    color: #fff;
  }
  .button:visited {
    box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px white;
    color: #fff;
  }
  
  .buttonlong {
    display: block;
    justify-self: center;
    width: 100%;
    margin-top: 5%;
    border: none;
    color: #fff;
  }
  
  table{
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        border-left: 0px;
        border-top: 2px solid #575757;
        border-bottom: 2px solid #575757;
        overflow-wrap: break-word;
  }

  td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 15px;
    border-right: 0px;
  }
  th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 15px;
    border-left: 0px;
  }
  
  .top{
      border-top: 2px solid #575757;
  }

  .right{
    border-right: 0px;
}

  hr {
    border-top: 1px;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  
  .score {
    background-color: #565656;
    color: #fff;
  }

  
@media only screen and (max-width: 800px) {
    .app {
        margin-left: 7%;
    margin-right: 7%;
      width: 86%;
      height: auto;
    }
    p {
      font-size: 1em;
      font-weight: 400;
      line-height: 1.7em;
      margin-left: 0em;
    }
    .indent {
      margin-left: 1em;
    }
  
    h1 {
      font-size: 2.5em;
    }
  
    h3 {
      font-size: 1.5em;
      line-height: 1em;
      margin-top: 2em;
      font-weight: 700;
    }

    .rankings {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .img{
          width: 100%;
      }
    
      .rank1{
          width: 80%;
          display:flex;
          flex-direction: column;
          align-items: center;
      }
      .rank2{
        width: 80%;
        display:flex;
        flex-direction: column;
        align-items: center;
      }
      .rank3{
        width: 80%;
        display:flex;
        flex-direction: column;
        align-items: center;
      }
  
    li {
      font-size: 1em;
    }
    .caption {
      font-size: 0.85em;
      line-height: 1.5em;
      margin-left: 2.75em;
    }
  
    .button {
      font-size: 1em;
      padding: 1em 1em;
    }
  
    .nav {
        width: 100%;
      margin-top: 3em;
      margin-bottom: 3em;
    }
  }
  